<b>You need to sign up before signing in!</b>
<br>
<form name='add' action='/add' method='post'>
  Name:<br>
  <input type='text' name='name' id='name' />
  <br>
  Student ID:<br>
  <input type='text' name='id' id='id' />
  <br>
  <input type='submit' value='Submit' />
</form>

<%= erb :footer, :layout => false %>

<script type="text/javascript" language="javascript">
window.onload = function() {
  document.getElementById("name").focus();
}
</script>
