<b>Whoops! Looks like we don't know you. Please enter your name :D</b>
<br>
<form name='add' action='/add' method='post'>
  Name:<br>
  <input type='text' name='name' id='name' />
  <br>
  <input type='submit' value='Submit' />
</form>

<%= erb :footer, :layout => false %>

<script type="text/javascript" language="javascript">
window.onload = function() {
  document.getElementById("name").focus();
}
</script>
