<%= erb :header, :layout => false %>

<body>
  <ul style="color:white">
    <% if @people != [] %>
    <div style="color: white; font-size: 40px; font-family: 'Courier New'">
      [ ... ].length = <%= @people.length %>
    </div>
    <br>
    <% @people.each {|person| %>
    <li><%= person %></li>
    <% } %>
    <% else %>
    <div style="color: white; font-size: 40px; font-family: 'Courier New'">
      [].length = 0
    </div>
    <% end %>
  </ul>
</body>

<%= erb :footer, :layout => false %>
