<br>You need to check in!</b>
<br>
<form name='signin' action='/' method='post'>
  <input type='text' name='id' id='id' />
  <input type='submit' value='Submit' />
</form> 

<script type="text/javascript" language="javascript">
window.onload = function() {
  document.getElementById("id").focus();
}
</script>