<link rel='stylesheet' type='text/css' href='/main.css' />
<body>
<div class="header">Welcome to Paly Robotics</div>
<div class="main">
<div class="scan"><p>Please scan your Palo Alto High School ID card or enter it on the keypad.</p></div>
<form name='signin' action='/' method='post'>
  <input type='text' name='id' id='id' />
  <input type='submit' value='Submit' />
</form> 
<div class="scan"><p>Thank you, and enjoy the meeting!</p></div>
</div>

</body>
<a href='/logout'>Logout</a>

<script type="text/javascript" language="javascript">
window.onload = function() {
  document.getElementById("id").focus();
}
</script>